@model IEnumerable<ProjetEpîcerie.Models.ProduitsTraductions>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (ViewBag.pageAfficherProduits != null)
    {
        foreach (var infoPage in ViewBag.pageAfficherProduits)
        {
            <div class="form-horizontal" style="background-color: beige;">
                <header>
                    <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to right, #fdfd96, #ffff00);">
                        <div class="container">
                            <a class="navbar-brand" href="#">
                                <img src="../image/logo3.jpg" alt="Logo"> FARMERS MARKET
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ml-auto">
                                    @if (ViewBag.Categories != null)
                                    {
                                        foreach (var item in ViewBag.Categories)
                                        {
                                            <li class="nav-item">
                                                <a href="@Url.Action("AfficherProduits", "Default", new { id = item.IdCategorie, IdLangue = item.IdLangue })" class="btn btn-success">@item.NameTraduction</a>
                                            </li>
                                        }
                                    }
                                    <li class="nav-item">
                                        <a href="@Url.Action("Deconnexion", "Default")" class="btn btn-success">@infoPage.BtnDescon</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li>
                                        <a href="@Url.Action("Panier", "Default")" class="btn btn-info">
                                            <i class="bi bi-cart4"></i>
                                            <span>
                                                @if (ViewBag.nbPanier != null)
                                                {
                                                    @ViewBag.nbPanier
                                                }
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav">
                                    @if (ViewBag.Langue != null)
                                    {
                                        foreach (var lang in ViewBag.Langue)
                                        {
                                            <li class="nav-item">
                                                <div class="boite3">
                                                    <a href="@Url.Action("AfficherProduits", "Default", new { IdLangue = lang.IdLangue })">@lang.Symbole</a>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>

                <div id="carouselExample" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner py-4">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    @foreach (var element in Model)
                                    {
                                        <div class="col-lg-3 mb-4">
                                            <div class="card my-custom-card">
                                                <img src="@element.urlImageTraductions" class="card-img-top custom-card-image" alt="Product Image" style="width:100%; height: 150px;">
                                                <div class="card-body" style="width:100%; height: 320px;">
                                                    <div style="width:100%; height:160px">
                                                        <h5 class="card-title" id="titre1" style="font-weight:bold">@element.NomTraductions</h5>
                                                        <p class="card-text custom-card-text">@element.DescriptionTraductions</p>
                                                    </div>
                                                    <p id="prix" style="font-weight:bold">@element.PrixTraductions $CAD</p>
                                                    <div>
                                                        <a href="@Url.Action("VoirProduits", "Default", new { IdProduits = @element.IdProduits, IdLangue = @element.IdLangue })" class="btn btn-primary lang-link" data-id-produits="@element.IdProduits">@infoPage.BtnVoir</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
