@model ProjetEpîcerie.Models.Inscription
<link href="~/Css/Acceuil.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (ViewBag.PageInscriptions != null)
    {
        foreach (var infoPage in ViewBag.PageInscriptions)
        {
<div class="form-horizontal">
    <header>
        <nav class="navbar navbar-expand-sm bg-white navbar-dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="../image/Epicerie.png" alt="logo" style="width: 100px; height: auto;">
                </a>

                <span id="txtLogo">  @infoPage.TitreSite </span>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="boite1">
                                <a href="@Url.Action("connexion", "Default")">@infoPage.BtnConnecter</a>
                            </div>

                        </li>
                        <li class="nav-item">
                            <div class="boite1">
                                <a href="@Url.Action("Deconnexion", "Default")">@infoPage.BtnDescon</a>
                            </div>

                        </li>
                    </ul>
                    <ul class="navbar-nav">

                        @if (ViewBag.Langue != null)
                        {
                            foreach (var lang in ViewBag.Langue)
                            {
                                <li class="nav-item">
                                    <div class="boite3">
                                        <a href="@Url.Action("Inscription", "Default", new { IdLangue = lang.IdLangue })">@lang.Symbole</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group row">
        <label class="control-label col-md-2">
            @infoPage.lblNom
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>


    <div class="form-group row">
        <label class="control-label col-md-2">
            @infoPage.lblTélephone
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2">
            @infoPage.lblAdresse
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2">
            @infoPage.lblEmail
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Type = "Email" } })
        </div>
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2">
            @infoPage.lblNomUtilisateur
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2">
            @infoPage.LabMotPasse
        </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @Type = "password" } })
        </div>
        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="@infoPage.BtnInscrire" class="btn btn-primary" />
        </div>
    </div>

    <div id="erreur">
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
    </div>
    <div id="erreur1">
        @if (ViewBag.connexioOk != null)
        {
            @ViewBag.connexioOk
        }
    </div>

</div>
        }

    }

}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


