@model ProjetEpîcerie.Models.PageInscription

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PageInscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Langue.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Langue.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitreSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitreSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BtnDescon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BtnDescon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BtnInscrire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BtnInscrire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BtnConnecter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BtnConnecter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lblNomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lblNomUtilisateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabMotPasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabMotPasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lblNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lblNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lblTélephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lblTélephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lblAdresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lblAdresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lblEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lblEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
