@model IEnumerable<ProjetEpîcerie.Models.PageConnexion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Langue.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitreSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BtnDescon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BtnInscrire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BtnConnecter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LableNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabMotPasse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Langue.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitreSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BtnDescon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BtnInscrire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BtnConnecter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LableNom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabMotPasse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPageConnexion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPageConnexion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPageConnexion })
        </td>
    </tr>
}

</table>
