@model ProjetEpîcerie.Models.Langue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Langue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symbole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLangue }) |
    @Html.ActionLink("Back to List", "Index")
</p>
