@model ProjetEpîcerie.Models.CategoriesTraductions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoriesTraductions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Langue.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Langue.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameTraduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameTraduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionTraduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionTraduction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCategoriesTraductions }) |
    @Html.ActionLink("Back to List", "Index")
</p>
